{
    "extends": "airbnb-base",
    "env": {
        "es6": true
    },
    "rules": {
        "brace-style": ["error", "stroustrup"],
        "no-unused-vars": ["warn"],
        "no-var": ["off"],
        "one-var": ["off"],
        "comma-dangle": ["error", "always-multiline"],
        "no-trailing-spaces": ["error", { "skipBlankLines": true }],
        "arrow-parens": ["error", "as-needed"],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "linebreak-style": 0,
        "no-console": 0,
        "no-use-before-define": ["error", { "variables": false }],
        "max-len": ["error", { "code": 160 }],
        "import/prefer-default-export": 0,
        "class-methods-use-this": "off"
    }
}